<p><a href="/zoos">Zoos</a></p> <p><a href="/animals">Animals</a></p>

<form action="/zoos" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new zoo:</p>
  <input type='text' name='zoo[name]'/><br/>
  <input type='checkbox' checked="true" name='zoo[open]'/><br/>
  <input type='number' name='zoo[num_of_people]'/><br/>
  <input type='submit' value='Create Zoo'/>
</form>
