<h1>Welcome to our Relational Rails project</h1>

<ul>
  <li><a href="/zoos">Zoos</a></li>
  <li><a href="/animals">Animals</a></li>
  <li><a href="/hotels">Hotels</a></li>
  <li><a href="/guests">Guests</a></li>
</ul>