<form action="/hotels" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <p>Enter a new hotel:</p>
  <input type='text' name='hotel[name]'/><br/>
  <input type='checkbox' name='hotel[vacancy?]'/><br/>
  <input type='number' name='hotel[occupancy]'/><br/>
  <input type='datetime-local' name='hotel[created_at]'/><br/>
  <input type='datetime-local' name='hotel[updated_at]'/><br/>
  <input type='submit'/>
</form>
